.grid-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table{
    width: 100%;
    border-bottom: 2px solid;
}

th{
    font-size: 20px;
    border-bottom: 3px solid;
    padding: 5px;
}

td{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border-right: 1px solid rgb(160, 149, 149);
    border-bottom: 1px solid;
}

section{
    border-top: 3px solid;
    margin-top: 20px;
}
