footer{
    /*always displays at bottom of page*/
    position: relative;
    bottom: 0px;
    width: 99%;
    height: 50px;
    background-color: rgb(46, 138, 110);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid;
}

footer p{
    text-align: center;
    margin-top: auto;
    color: white;
}