head{
    margin-top: 0;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    border-bottom: 2px solid;
}

nav a{
    flex: auto;
    border: 3px solid;
    border-color: transparent;
    text-align: center;
    margin: 3px;
    background-color: rgb(62, 129, 150);
    color: white;
    text-decoration: none;
    font-size: larger;
}