head{
    margin-top: auto;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

nav a{
    flex: auto;
    border: 3px solid;
    border-color: transparent;
    text-align: center;
    background-color: cadetblue;
}